#landingBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  height: 100%;
  background-image: url("../images/macbook.png");
}

#signUpButton {
  margin-top: 5vh;
}
/* 
#landingIntro {
  max-width: 34rem;
  margin-top: 10%;
  text-align: left;
  color: white;
  font-size: 3rem;
} */
