#moods_container {
  background-color: #3e619b;
  border-radius: 1.5rem;
  padding: 3rem;
  margin-top: 1rem;
}
#moods_header {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  color: #e4f1fd;
}

#dropdown_moods {
  background-color: #ef4b4c;
  outline: none;
  border: none;
}

.recharts-surface {
  padding: 1rem;
}
