#landingBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signUpButton{
  margin-top: 5vh;
}

#landingIntro{
  max-width: 30vw;
  margin-top: 10%;
}