/* this is for the links to be happy on the moods page...delete it! */
.card{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.link{
  padding:5px;
  background-color: rgb(188, 188, 188);
  color:rgb(6, 255, 159);
  text-decoration: none;
}


/* this is all navbar styling */
.navbar-nav .dropdown-menu{
  background-color: #3E619B;
}
.navbar-nav .dropdown-menu a:hover{
  background-color: #EF4C4C;
}

.navbar-nav .dropdown-item{
  color:white;
}

.navdropdown-title{
  color:white;
}

#navdropdown-arrow {
  color:white;
}

.navbar-links a:hover{
  color:#EF4C4C !important;
}

.navbar-links {
  color:white !important
}

