/* this is for the links to be happy on the moods page...delete it! */
.card {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.link {
  padding: 5px;
  background-color: rgb(188, 188, 188);
  color: rgb(6, 255, 159);
  text-decoration: none;
}

/* this is all navbar styling */
.navbar-nav .dropdown-menu {
  background-color: #3e619b;
}
.navbar-nav .dropdown-menu a:hover {
  background-color: #ef4b4c;
}

.navbar-nav .dropdown-item {
  color: white;
}

.navdropdown-title {
  color: white;
}

#navdropdown-arrow {
  color: white;
}

.navbar-links:hover {
  text-decoration: underline;
  text-decoration-color: #ef4b4c;
}

.navbar-links {
  color: white !important;
}

.special-card {
  background-color: #2a3950;
  outline: none;
  box-shadow: none !important;
}

.record {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.modal-content {
  background-color: transparent !important;
  border: none !important;
}

.search-bar {
  border: none;
  width: 20rem;
  float: right;
  border-radius: 0.35rem;
  height: 3.5rem;
  margin-right: 1.5rem;
  background-color: #ef4b4c;
  color: #ffffff;
  padding-left: 0.5rem;
}
.search-bar::placeholder {
  color: #ffffff;
  padding-left: 0.5rem;
}

.mood-button:focus {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}

.mood-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px !important;
}
